/* # fuer Tag-ID und . fuer CSS-Klasse */
#header {
	/* clear: left; */
	height: 75px;
	/* width: 99%; */
	
	/* richfaces-core-impl-VERSION.jar: in z.B. META-INF/skins/blueSky.skin.properties siehe headerBackgroundColor=
			blueSky			#BED6F8
			deepMarine		#008894
			emeraldTown		#005000
			japanCherry		#E8BDBD
			ruby			#900000
			wine			#5D7343
			classic 		#F3F2F2
	*/
	background-color: #EAF0F8;
	border-style: none;
	
}

#nav {
	float: left;
	width: 15%;
	height: 550px;
	padding: 5px;
	background-color: #DDE1FB;
}

#content {
	margin-left: 15%;
	/* width: 80%; */
	/* width: calc(85% - 2px); */
	overflow: auto;
	padding: 5px;
}

#footer {
	clear: left;    /* http://de.selfhtml.org/css/eigenschaften/positionierung.htm#clear */
	padding: 10px;
}

img {
	border: None;
}

h1 {
	font-style: italic;
}

/*
.error {
	color: red;
	font-style: bold;
	list-style-type: none;
}
*/

.invalid {
	border-color: #D91C0D !important;
}

.tabelleMitZebrastil {
}
.odd-row {
	background-color: #ECF3FE;
}
.even-row {
	background-color: #FCFFFE;
}
.active-row {
	background-color: #FBFCBE;
	cursor: pointer;
}
.commandLink {
	text-decoration: blink;
	font-weight: bold;
	color: Snow;
	text-align: right;
	outline-style: groove;
	outline-color: #EAF0F8;
	font-style: oblique;
	
}
.rich-table-header {
	background-color: #9FBDEB
}
